/**----------------------------------------------
 *  IMPORTS
 *-----------------------------------------------*/
@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

/**----------------------------------------------
 *  GLOBAL STYLE
 *-----------------------------------------------*/
html,
body {
  box-sizing: border-box;
  font-family: $font-stack;
  font-weight: $font-weight-regular;
  background: $white;
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

/**----------------------------------------------
 *  HELPERS
 *-----------------------------------------------*/
.bg-blue {
  background: $blue-regular;
  color: $white;
}

/**----------------------------------------------
 *  NAVBAR
 *-----------------------------------------------*/
.custom-navbar {
  border-bottom: 1px solid $dark;
}

.navbar-brand {
  color: $blue-regular;
  font-size: $font-size * 3;
  font-weight: $font-weight-regular;
  text-shadow: $font-shadow-thick;
}

.brand-word {
  border-bottom: 10px solid $blue-regular;
}

.chevron-icon {
  color: $blue-regular;
}

.nav-custom-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size * 2;
}

.navbar-custom {
  width: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -8rem;
}

/**----------------------------------------------
 *  TITLE
 *-----------------------------------------------*/
.page-title-container {
  background: url("../images/yellow.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 87.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1rem;
}

 .page-title {
  font-size: $font-size * 8;
  font-weight: 400;
  text-shadow: $title-shadow;
  text-align: center;
  color: #000;
 }

/**----------------------------------------------
 *  POSTS
 *-----------------------------------------------*/
.posts-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  width: 1200px;
  margin: auto;
}

@media (max-width: 1224px) {
  .posts-box {
    width: 800px;
  }
  .post-container {
    width: 800px;
  }
}

@media (max-width: 824px) {
  .posts-box {
    width: 450px;
  }
  .post-container {
    width: 450px;
  }
}

.posts-title {
  font-size: $font-size * 6;
  align-self: flex-start;
  margin: 2rem 0;
  text-shadow: $font-shadow-regular;
  color: $white;
  background: $yellow;
  width: 18rem;
  border-radius: 0.25rem;
  // box-shadow: 0 0.325rem .25rem rgba(25, 25, 25, 0.4);
}

.posts-title-start-span {
  color: $blue-regular;
}

.posts-title-span {
  // color: $blue-regular;
  border-bottom: 10px solid $orange;
}

.post-outer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.post-number {
  font-size: $font-size * 4;
  font-weight: 500;
  margin-right: 5rem;
  color: $orange;
}

 /**----------------------------------------------
 *  POST
 *-----------------------------------------------*/
 .post-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
   border: 5px solid $dark;
   border-radius: 0.55rem;
   padding: 2rem;
   margin: 3rem 0;
   width: 1200px;
 }

 .post-title {
   font-size: $font-size * 2.5;
   align-self: flex-start;
   margin-left: 2rem;
   color: $dark;
   border-bottom: 3px solid $teal;
   margin-bottom: 0;
 }

 .post-body {
   width: 100%;
   margin-top: 0;
   text-indent: 3rem;
   padding: 2rem;
   text-shadow: none;
   font-weight: $font-weight-light;
   outline: none;
   resize: none;
   overflow: auto;
 }

 .post-buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5rem;
   align-self: flex-end;
   width: 21rem;
   height: 8rem;
   font-size: $font-size * 1.5;
   margin-bottom: -3rem;
   margin-right: -5rem;
 }

 /**----------------------------------------------
 *  CREATE POST FORM
 *-----------------------------------------------*/
 .post-form-container {
   width: 50rem;
   font-size: $font-size * 1.5;
   margin: auto;
   padding-top: 5rem;
 }
 
 .create-post-btn {
   box-shadow: 0 1rem 1rem rgba(100, 100, 100, 0.4);
 }