/**----------------------------------------------
 *  IMPORTS
 *-----------------------------------------------*/
@import "variables.scss";
// @import "~bootstrap/scss/bootstrap";

/**----------------------------------------------
 *  GLOBAL STYLE
 *-----------------------------------------------*/
html,
body {
  box-sizing: border-box;
  font-family: $font-stack;
  font-weight: $font-weight-regular;
  background: $white;
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

/**----------------------------------------------
 *  HELPERS
 *-----------------------------------------------*/
.bg-blue {
  background: $blue-regular;
  color: $white;
}

/**----------------------------------------------
 *  page-container
 *-----------------------------------------------*/
.page-container {
  width: 95%;
  margin: auto;
}

/**----------------------------------------------
 *  NAVBAR
 *-----------------------------------------------*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $dark;
}

.navbar-brand {
  color: $blue-regular;
  font-size: $font-size * 3;
  font-weight: $font-weight-regular;
  text-shadow: $font-shadow-thick;
  display: flex;
  width: 10rem;
  align-items: center;
}

.brand-word {
  border-bottom: 5px solid $blue-regular;
}

.chevron-icon {
  font-size: $font-size * 3.5;
  border-bottom: 10px solid transparent;
}

.nav-list-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size * 2;
}

.navbar-list {
  width: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -8rem;
}

.navbar-link {
  color: $dark-gray;
  font-weight: $font-weight-light;
  border-bottom: 3px solid transparent;
}

.active {
  color: $dark;
  border-bottom: 3px solid $dark;
  font-weight: $font-weight-regular;
}

a,
::after {
  text-decoration: none;
}

/**----------------------------------------------
 *  TITLE
 *-----------------------------------------------*/
.page-title-container {
  background: url("../images/yellow.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

 .page-title {
  font-size: $font-size * 8;
  font-weight: 400;
  text-shadow: $title-shadow;
  text-align: center;
  color: #000;
 }

/**----------------------------------------------
 *  POSTS
 *-----------------------------------------------*/
.posts-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  width: 70%;
  margin: auto;
}

.posts-title {
  font-size: $font-size * 6;
  align-self: flex-start;
  margin: 2rem 0;
  text-shadow: $font-shadow-regular;
  color: $white;
  background: $yellow;
  width: 18rem;
  border-radius: 0.25rem;
}

.posts-title-start-span {
  color: $blue-regular;
}

.posts-title-span {
  border-bottom: 10px solid $orange;
}

.post-outer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.post-number {
  font-size: $font-size * 4;
  font-weight: 500;
  margin-right: 5rem;
  color: $orange;
}

 /**----------------------------------------------
 *  POST
 *-----------------------------------------------*/
 .post-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
   border: 5px solid $gray;
   border-radius: 0.55rem;
   padding: 2rem;
   margin: 3rem 0;
   width: 1200px;
 }

 .post-title {
   font-size: $font-size * 2.5;
   align-self: flex-start;
   margin-left: 2rem;
   color: $dark;
   border-bottom: 3px solid $green;
   margin-bottom: 0;
 }

 .post-body {
   margin-top: 0;
   text-indent: 2rem;
   padding: 2rem;
   margin: 2rem;
   text-shadow: none;
   font-size: $font-size * 1.25;
   line-height: 1.75rem;
   font-weight: $font-weight-light;
   outline: none;
   resize: none;
   overflow: auto;
 }

 .post-buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 5rem;
   align-self: flex-end;
   width: 13rem;
   font-size: $font-size * 1.5;
 }

 /**----------------------------------------------
 *  CREATE POST FORM
 *-----------------------------------------------*/
 .post-form-container {
   font-size: $font-size * 1.5;
   padding-top: 5rem;
 }
 
.create-post-body {
  height: 15vh;
  outline: none;
  resize: none;
  overflow: auto;
}

 .preview-box {
   min-height: 30vh;
   width: 94%;
 }

 .form-control {
   font-size: $font-size * 1.125;
   color: $dark;
   line-height: 1.25rem;
   width: 100%;
   margin: 1rem auto;
   padding: 0.25rem;
 }

 .btn {
   padding: 1rem;
   background: transparent;
   color: $white;
   font-size: $font-size * 1.5;
   outline: none;
   border: none;
   border-radius: 0.5rem;
   cursor: pointer;
 }

 a.btn a.btn-block {
  width: 1200px;
}

 .create-post-btn {
  background: $blue-regular;
  color: $white;
  font-size: $font-size * 1.5;
  padding: 0.5rem;
  margin: 3.5rem auto 0 auto;
 }

 .btn-edit {
   border: 3px solid $yellow;
   color: $yellow;
 }

 .btn-delete {
   border: 3px solid $orange;
   color: $orange;
 }

 /**----------------------------------------------
 *  SIZING MEDIA QUERIES
 *-----------------------------------------------*/
// @media (min-width: $smallest-width) {
//   .page-container {
//     width: $smallest-width * 0.95;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: $small-width) {
//   .page-container {
//     width: $small-width * 0.95;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: $medium-width) {
//   .page-container {
//     width: $medium-width * 0.95;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: $large-width) {
//   .page-container {
//     width: $large-width * 0.95;
//   }
// }

// @media (min-width: $largest-width) {
//   .page-container {
//     width: $largest-width * 0.95;
//   }
// }