/**----------------------------------------------
 *  VARIABLES
 *-----------------------------------------------*/

//  FONT
$font-size: 16px;
$font-stack: 'Roboto', sans-serif;
$font-weight-regular: 300;
$font-weight-light: 100;
$font-shadow-regular: 0 0.15rem .125rem rgb(15, 15, 15);
$font-shadow-thick: 0 0.125rem 0.125rem rgba(150, 150, 150, 1);
$title-shadow: 0.35rem 0.55rem 0.425rem rgb(25, 25, 25);

// COLORS
$white: #f5f5f5;
$gray: #607d8b;
$dark-gray: #424242;
$dark: #263238;


$green: #00c853;
$teal: #00bfa5;
$orange: #ff5722;
$yellow: #fbc000;
$purple: #673ab7;

$blue-regular: #0F96F0;
$blue-dark: #0C316E;

$color-gradient-gray: linear-gradient(150deg, #eceff1, #b0bec5);

// SIZING
$smallest-width: 576px;
$small-width: 768px;
$medium-width: 992px;
$large-width: 1200px;
$largest-width: 1600px;